<div class="row content">

  <!-- Google Map placeholder -->
  <div class="col-md-7">
    <div class="panel panel-default">
      <div id=map></div>
    </div>
  </div>

  <!-- Side Panel -->
  <div class="col-md-5">
    <div class="panel panel-default">
      <!-- Panel Title -->
      <div class="panel-heading">
        <h2 class="panel-title text-center">Meals on Munch</h2>
      </div>
      <!-- Panel Body -->
      <div class="panel-body">
        <table class="table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th>Title</th>
              <th>ChefId</th>
              <th>Price</th>
              <th>Title</th>
              <th>Location</th>
              <th>Order By</th>
            </tr>
          </thead>
          <tbody>
            {{#each meals}}
              <tr>
                <td>{{title}}</td>
                <td>{{chefid}}</td>
                <td>{{price}}</td>
                <td>{{title}}</td>
                <td>{{location}}</td>
                <td>{{eatby}}</td>
              </tr>
            {{/each}}
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
