<div class="row content">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">My Orders</h3>
      </div>
      <div class="panel-body">
        <h2>Your Orders <small>{{user.username}}</small></h2>
        <table class="table-hover table-striped table-condensed">
          <thead>
            <tr>
              <th>OrderID#</th>
              <th>Meal</th>
              <th>Price</th>
              <th>Address</th>
              <th>Chef</th>
              <th>Time</th>
              <th>Order Placed</th>
            </tr>
          </thead>
          <tbody>
            {{#each userorders}}
            <tr>
              <td>{{this.orderid}}</td>
              <td>{{this.mealinfo.title}}</td>
              <td>{{this.mealinfo.price}}</td>
              <td>{{this.mealinfo.address}}</td>
              <td>{{this.mealinfo.chefid}}</td>
              <td>{{this.mealinfo.eatby}}</td>
              <td>{{this.placed}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
</div>
